.container-fluid{
    background-color: #194e48;
    color: #fff;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #fff;
}
.navcontainer{
    display: flex;
    list-style: none;
    gap: 10;
}
ul{
    display: flex;
    list-style-type: none;
  margin: 10px;
  padding: 0;
  display: flex;
  align-items: center;
}
li a {
    color: #fff;
}
.d-flex{
    width: 700px;
}
.btnbtn-outline-success{
  background-color:#b3d337;
  border-radius: 5px;
}
body{
    background-color: #194e48;
}
